bjj_lin/*
api_key.txt
geckodriver.log
scripts/*/__pycache__/*
transformed_data/*
generated_data/*
scripts/__pycache__/*
__pycache__/*
logs/*
markers/*

#contains password to local database
mysql.cfg

# contains secret key
scripts/luigi.cfg

